html { overflow-x:  hidden;
overflow-y:  hidden;
 }

*{
	margin: 0;
	padding: 0; 
}

body{
	background: url(images/2.jfif);
	background-repeat: no-repeat;
	background-size: cover;
}

.R-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 20vw;
	height: 97vh;
	right: -13%;
	transition: 0.5s;
	top: 1.5%;
	opacity: 0.8;
	border-radius: 20px;
	}

.R-b:hover{
	right: 0%;
	transition: 0.5s;
}
.L-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 20vw;
	height: 97vh;
	left: -13%;
	transition: 0.5s;
	top: 1.5%;
	opacity: 0.8;
	border-radius: 20px;
	}

.L-b:hover{
	left: 0%;
	transition: 0.5s;
}

.C-b{
	display: block;
	position: absolute;
	background: rgb(17, 17, 17);
	width: 40vw;
	height: 80vh;
	left: 28.5%;
	top: 1.5%;
	opacity: 0.8;
	border-radius: 20px;
	transition: 0.3s;	
}

.C-b:hover{
	width: 43vw;
	transition: 0.3s;
	left: 27%;
}

.B-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 50vw;
	height: 10vh;
	left: 25%;
	transition: 0.3s;
	bottom: 1.5%;
	border-radius: 20px;
	opacity: 0.8;
	}

.B-b:hover{
	transition: 0.5;
}



.icon-1{
	position: absolute;
	width: 23%;
	height: auto;
	top: 7%;
	left: 6%;
}

.icon-2{
	position: absolute;
	width: 32%;
	height: auto;
	left: 3%;
	top: 30%;
	}

.icon-3{
	position: absolute;
	width: 27%;
	height: auto;
	left: 5.5%;
	top: 53%;
}

.icon-4{
	position: absolute;
	width: 27%;
	height: auto;
	left: 5.5%;
	top: 76%;
}
.T-des-1{
	position: absolute;
	color: white;
	left: 46%;
	top: 10%;
}

.T-des-1-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 16%;
}
.T-des-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 33%;
}

.T-des-3{
	position: absolute;
	color: white;
	left: 46%;
	top: 56%;
}

.T-des-4{
	position: absolute;
	color: white;
	left: 46%;
	top: 79%;
}

.T-left-1{
	position: absolute;
	color: white;
	right: 35%;
	top: 16%;
}

.T-bottom-2{
	position: absolute;
	color: white;
	right: 21%;
	top: 37%;
}

.icon-left-1{
	position: absolute;
	width: 57%;
	height: auto;
	right: -10%;
	top: 6.5%;
	cursor: pointer;
}

.icon-left-2{
	position: absolute;
	width: 52%;
	height: auto;
	right: -7%;
	top: 26%;
	cursor: pointer;
}

.icon-left-3{
	position: absolute;
	width: 52%;
	height: auto;
	right: -7%;
	top: 48%;
	cursor: pointer;
}

.icon-left-4{
	position: absolute;
	width: 82%;
	height: auto;
	right: -5.7%;
	top: 74%;
	cursor: pointer;
}

a{
	text-decoration: none;
	color: white;
}

.C-b-2{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 90vw;
	height: 120vh;
	left: -200%;
	transition: 0.3s;
	top: 1.5%;
	border-radius;
}




@media all and (min-width: 768px) and (max-width: 1100px){

body{
	background: url(images/2.jfif);
	background-repeat: no-repeat;
	background-size: 500%;

	}

.R-b{
	position: absolute;
	display: block;
	width: 20vw;
	height: 97vh;
	right: -200%;
	top: 1.5%;
	}

	.L-b{
	display: block;
	position: absolute;
	width: 20vw;
	height: 97vh;
	left: -200%;
	top: 1.5%;

	}

.C-b{
	display: block;
	position: absolute;
	width: 40vw;
	height: 80vh;
	left: -200%;
	top: 1.5%;
}

.C-b:hover{
	left: -200%;
	width: 43vw;
	}

.C-b-2{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 90vw;
	height: 120vh;
	left: 27.5%;
	transition: 0.3s;
	top: 1.5%;
}	
.B-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 90vw;
	height: 10vh;
	left: 0%;
	transition: 0.3s;
	bottom: 20%;
	border-radius: 20px;
	opacity: 0.8;
	text-align: center;
}

.B-b:hover{

}

