html { 
	overflow-x:  hidden;
	overflow-y:  hidden;
 }

*{
	margin: 0;
	padding: 0; 
}

body{
	background: url(images/2.jfif);
	background-repeat: no-repeat;
	background-size: cover;
}

.R-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 20vw;
	height: 97vh;
	right: -13%;
	transition: 0.5s;
	top: 1.5%;
	opacity: 0.8;
	border-radius: 20px;
	}

.R-b:hover{
	right: 0%;
	transition: 0.5s;
}
.L-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 20vw;
	height: 97vh;
	left: -13%;
	transition: 0.5s;
	top: 1.5%;
	opacity: 0.8;
	border-radius: 20px;
	}

.L-b:hover{
	left: 0%;
	transition: 0.5s;
}

.C-b{
	display: block;
	position: absolute;
	background: rgb(17, 17, 17);
	width: 40vw;
	height: 80vh;
	left: 28.5%;
	top: 1.5%;
	opacity: 0.8;
	border-radius: 20px;
	transition: 0.3s;	
}

.C-b:hover{
	width: 43vw;
	transition: 0.3s;
	left: 27%;
}

.B-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 50vw;
	height: 10vh;
	left: 24%;
	transition: 0.3s;
	bottom: 4%;
	border-radius: 20px;
	opacity: 0.8;
	text-align: center;
}

.B-b:hover{
	height: 12vh;
	transition: 0.3;
}



.icon-1{
	position: absolute;
	width: 23%;
	height: auto;
	top: 7%;
	left: 6%;
}

.icon-2{
	position: absolute;
	width: 32%;
	height: auto;
	left: 3%;
	top: 30%;
	}

.icon-3{
	position: absolute;
	width: 27%;
	height: auto;
	left: 5.5%;
	top: 53%;
}

.icon-4{
	position: absolute;
	width: 27%;
	height: auto;
	left: 5.5%;
	top: 76%;
}
.T-des-1{
	position: absolute;
	color: white;
	left: 46%;
	top: 10%;
}

.T-des-1-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 16%;
}
.T-des-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 33%;
}

.T-des-2-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 39%;
}

.T-des-3{
	position: absolute;
	color: white;
	left: 46%;
	top: 56%;
}

.T-des-3-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 62%;
}

.T-des-4-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 85%;
}

.T-des-4{
	position: absolute;
	color: white;
	left: 46%;
	top: 79%;
}

.T-left-1{
	position: absolute;
	color: white;
	right: 35%;
	top: 16%;
}

.T-bottom-2{
	position: absolute;
	color: white;
	right: 21%;
	top: 37%;
}

.icon-left-1{
	position: absolute;
	width: 57%;
	height: auto;
	right: -10%;
	top: 6.5%;
	cursor: pointer;
}

.icon-left-2{
	position: absolute;
	width: 52%;
	height: auto;
	right: -7%;
	top: 26%;
	cursor: pointer;
}

.icon-left-3{
	position: absolute;
	width: 52%;
	height: auto;
	right: -7%;
	top: 48%;
	cursor: pointer;
}

.icon-left-4{
	position: absolute;
	width: 82%;
	height: auto;
	right: -4%;
	top: 76%;
	cursor: pointer;
}

a{
	text-decoration: none;
	color: white;
}

.C-b-2{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 90vw;
	height: 120vh;
	left: -200%;
	transition: 0.3s;
	top: 1.5%;
	border-radius;
}

.C-b-3{
	display: block;
	position: absolute;
	background: rgb(17, 17, 17);
	width: 110vw;
	height: 120vh;
	left: -200%;
	top: 130%;
	opacity: 0.8;
	border-radius: 20px;
	transition: 0.3s;
}




@media all and (min-width: 768px) and (max-width: 1100px){

html { 
	overflow-x:  hidden;
	overflow-y: auto; 
 }

body{
	background: url(images/2.jfif);
	background-repeat: no-repeat;
	background-size: 1100%;
	}

.R-b{
	position: absolute;
	display: block;
	width: 20vw;
	height: 97vh;
	right: -200%;
	top: 1.5%;
	}

	.L-b{
	display: block;
	position: absolute;
	width: 20vw;
	height: 97vh;
	left: -200%;
	top: 1.5%;

	}

.C-b{
	display: block;
	position: absolute;
	width: 40vw;
	height: 80vh;
	left: -200%;
	top: 1.5%;
}

.C-b:hover{
	left: -200%;
	width: 43vw;
	}

.C-b-2{
	display: block;
	position: absolute;
	background: rgb(17, 17, 17);
	width: 110vw;
	height: 120vh;
	left: 18%;
	top: 1.5%;
	opacity: 0.8;
	border-radius: 20px;
	transition: 0.3s;
}

.C-b-3{
	display: block;
	position: absolute;
	background: rgb(17, 17, 17);
	width: 110vw;
	height: 120vh;
	left: 18%;
	top: 140%;
	opacity: 0.8;
	border-radius: 20px;
	transition: 0.3s;
}		

.B-b{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 110vw;
	height: 10vh;
	left: 18%;
	transition: 0.3s;
	bottom: -190%;
	border-radius: 20px;
	opacity: 0.8;
	text-align: center;
}


.B-b:hover{
	display: block;
	position: absolute;
	background-color: rgb(17, 17, 17);
	width: 110vw;
	height: 10vh;
	left: 18%;
	transition: 0.3s;
	bottom: -168%;
	border-radius: 20px;
	opacity: 0.8;
	text-align: center;
}

.T-bottom-2{
	position: absolute;
	color: white;
	left: 22%;
	top: 38%;
}

.icon-1{
	position: absolute;
	width: 30%;
	height: auto;
	top: 7%;
	left: 6%;
}

.icon-2{
	position: absolute;
	width: 39%;
	height: auto;
	left: 3%;
	top: 30%;
	}

.icon-3{
	position: absolute;
	width: 34%;
	height: auto;
	left: 5.5%;
	top: 53%;
}

.icon-4{
	position: absolute;
	width: 34%;
	height: auto;
	left: 5.5%;
	top: 76%;
}
.T-des-1{
	position: absolute;
	color: white;
	left: 46%;
	top: 10%;
	font-size: 80px;
}

.T-des-1-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 16%;
	font-size: 50px;
}

.T-des-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 33%;
	font-size: 80px;
}

.T-des-2-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 39%;
	font-size: 50px;
}

.T-des-3{
	position: absolute;
	color: white;
	left: 46%;
	top: 56%;
	font-size: 80px;
}

.T-des-3-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 62%;
	font-size: 50px;
}

.T-des-4{
	position: absolute;
	color: white;
	left: 46%;
	top: 79%;
	font-size: 60px;	
}

.T-des-4-2{
	position: absolute;
	color: white;
	left: 46%;
	top: 85%;
	font-size: 50px;
}

.icon-left-1{
	position: absolute;
	width: 57%;
	height: auto;
	left: -10%;
	top: 6.5%;
	cursor: pointer;
}

.icon-left-2{
	position: absolute;
	width: 52%;
	height: auto;
	left: -7%;
	top: 26%;
	cursor: pointer;
}

.icon-left-3{
	position: absolute;
	width: 52%;
	height: auto;
	left: -7%;
	top: 45%;
	cursor: pointer;
}

.icon-left-4{
	position: absolute;
	width: 82%;
	height: auto;
	right: 57%;
	top: 74%;
	cursor: pointer;
}



.T-left-1{
	position: absolute;
	color: white;
	left: 35%;
	top: 18%;
	font-size: 65px;
}

.T-left-2{
	position: absolute;
	color: white;
	left: 35%;
	top: 36%;
	font-size: 65px;
}

.T-left-3{
	position: absolute;
	color: white;
	left: 35%;
	top: 55%;
	font-size: 65px;
}

.T-left-4{
	position: absolute;
	color: white;
	left: 35%;
	top: 76%;
	font-size: 65px;
}

.T-bottom-2{
	position: absolute;
	color: white;
	right: 21%;
	top: 20%;
	font-size: 40px;
}

}	
